In [ ]:
import re
import unicodedata
import pandas as pd
import nltk
from pydataset import data
import env

# Do your work for this exercise in a file named explore.

# 1. Spam Data
- a. Load the spam data set.
- b. Create and explore bigrams for the spam data. Visualize them with a word cloud. How do they compare with the ham bigrams?
- c. Is there any overlap in the bigrams for the spam data and the ham data?
- d. Create and explore with trigrams (i.e. a n-gram with an n of 3) for both the spam and ham data.

In [ ]:
''' function to connect to CodeUp SQL database'''
def get_connection(db, user=env.username, host=env.host, password=env.password):
    return f'mysql+pymysql://{env.username}:{env.password}@{env.host}/{db}'

In [ ]:
url= get_connection('spam_db')
sql= 'select * from spam'

In [ ]:
df= pd.read_sql(sql,url, index_col='id')
df.head()

In [ ]:
df.label.value_counts()

In [ ]:
# create a data frame with the percentage of ham and spam
labels= pd.concat([df.label.value_counts(),df.label.value_counts(normalize=True)],axis=1)
labels.columns=['n','percent']
labels

In [ ]:
 #lets do some data preparation
    
import unicodedata
import re
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords
import pandas as pd

In [ ]:
# creating a cleaning function that will lower the text, encode using ascii and decode it back
# this function also replaces anything thats not a-z, 0-9, and white space with nothing
def basic_clean(text):
    text = unicodedata.normalize('NFKD', text.lower())\
        .encode('ascii', 'ignore')\
        .decode('utf-8', 'ignore')
    return re.sub(r"[^a-z0-9\s]", '', text)

In [ ]:
# create a new column that is the cleaned version of the selected column and name that column text_cleaned
df['text_cleaned'] = df.text.apply(basic_clean)
df.head()

In [ ]:
# lets create a tokenize function

def tokenize(string):
    '''
    This function takes in a string and
    returns a tokenized string.
    '''
    # Create tokenizer.
    tokenizer = nltk.tokenize.ToktokTokenizer()
    
    # Use tokenizer
    string = tokenizer.tokenize(string, return_str=True)
    
    return string

In [ ]:
# add a tokenized column to the dataframe by applying tokenize function 
df['text_tokenized']= df.text_cleaned.apply(tokenize)
df.head(2)

In [ ]:
# lets create a lemmatize function

def lemmatize(string):
    '''
    This function takes in string for and
    returns a string with words lemmatized.
    '''
    # Create the lemmatizer.
    wnl = nltk.stem.WordNetLemmatizer()
    
    # Use the lemmatizer on each word in the list of words we created by using split.
    lemmas = [wnl.lemmatize(word) for word in string.split()]
    
    # Join our list of words into a string again and assign to a variable.
    string = ' '.join(lemmas)
    
    return string

In [ ]:
# lets create a new column that is the lemmatized version of the tokenized text and name that column text_lemmatized

df['text_lemmatized'] = df.text_tokenized.apply(lemmatize)
df.head()

In [ ]:
def remove_stopwords(string, extra_words=[], exclude_words=[]):
    '''
    This function takes in a string, optional extra_words and exclude_words parameters
    with default empty lists and returns a string.
    '''
    # Create stopword_list.
    stopword_list = stopwords.words('english')
    
    # Remove 'exclude_words' from stopword_list to keep these in my text.
    stopword_list = set(stopword_list) - set(exclude_words)
    # Add in 'extra_words' to stopword_list.
    stopword_list = stopword_list.union(set(extra_words))
    
    # Split words in string.
    words = string.split()
    
    # Create a list of words from my string with stopwords removed and assign to variable.
    filtered_words = [word for word in words if word not in stopword_list]
    
    # Join words in the list back into strings and assign to a variable.
    string_without_stopwords = ' '.join(filtered_words)
    
    return string_without_stopwords

In [ ]:
# lets filter the text by removing the stop words and give it a name text_filtered

df['text_filtered'] = df.text_lemmatized.apply(remove_stopwords)
df.head()

In [ ]:
# lets split the filtered text and then substitute anything thats not a-z, 0-9, white space or single item
# with nothing 
words = [re.sub(r'([^a-z0-9\s]|\s.\s)', '', doc).split() for doc in df.text_filtered]

# lets concat into the main dataframe
# column name will be words, and the column will contain lists of the words in each doc
df = pd.concat([df, pd.DataFrame({'words': words})], axis=1)

In [ ]:
df

In [ ]:
# to get all of the hamwords, we are filtering the data by label == ham and then joining all of the filtered text

ham_words = ' '.join(df[df.label=='ham'].text_filtered)

# to get all the spamwords, we are filtering the data by label == spam and joining all of the filtered text
spam_words = ' '.join(df[df.label=='spam'].text_filtered)

# doing the same thing but without filtering the dataframe and calling it all words
all_words = ' '.join(df.text_filtered)

# substituting space anything space with nothing in all three of the words
ham_words = re.sub(r'\s.\s', '', ham_words)
spam_words = re.sub(r'\s.\s', '', spam_words)
all_words = re.sub(r'\s.\s', '', all_words)

spam_words

In [ ]:
# lets get the frequency of the words within each word group

ham_freq = pd.Series(ham_words.split()).value_counts()

spam_freq = pd.Series(spam_words.split()).value_counts()

all_freq = pd.Series(all_words.split()).value_counts()

# check the top 5 word counts in all words
all_freq.head()

In [ ]:
# lets create a dataframe that holds the word count from all words, ham words, and spam words

word_counts = (pd.concat([all_freq, ham_freq, spam_freq], axis=1, sort=True)
               .set_axis(['all', 'ham', 'spam'], axis=1, inplace=False)
               .fillna(0)
               .apply(lambda s: s.astype(int))
              )


# lets take a look at the dataframe
word_counts.head()


# lets sort

word_counts.sort_values(by='all', ascending=False).head(10)

**Takeaways:**

- We can see a certain words being used more frequently in one category vs the other.  im is barely used in spam

- **dont** is barely used in spam

- **free** is mostly used in spam

- **call** is more frequent in spam

In [ ]:
# lets check the words that are only used in ham
word_counts[word_counts.spam==0].sort_values(by='ham').tail(10)

In [ ]:
# lets check the words that are only used in spam
word_counts[word_counts.ham==0].sort_values(by='spam').tail(10)

In [ ]:
df.head()

In [ ]:
# lets create a column that holds the count of words in column words
df['doc_length'] = [len(wordlist) for wordlist in df['words']]

In [ ]:
df.head()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
word_counts.assign(p_spam = word_counts.spam/word_counts['all'],
                  p_ham = word_counts.ham/word_counts['all']).sort_values(by = 'all')[['p_spam', 'p_ham']]\
.tail(20).sort_values('p_ham').plot.barh(stacked = True)
    
plt.title('Proportion of Spam vs Ham for the 20 most commot words in our text sample')

In [ ]:
word_counts.assign(p_spam = word_counts.spam/word_counts['all'],
                  p_ham = word_counts.ham/word_counts['all']).sort_values('all')[['p_spam', 'p_ham']].tail(20).sort_values('p_ham')

In [ ]:
from wordcloud import WordCloud

In [ ]:
ham_cloud = WordCloud(background_color = 'white', height = 1000, width = 1000).generate(ham_words)

plt.imshow(ham_cloud)

In [ ]:
spam_cloud = WordCloud(background_color = 'white', height = 1000, width = 1000).generate(spam_words)
plt.imshow(spam_cloud)

In [ ]:
axs = plt.axes([0.25,1,.5,.5]), plt.axes([0.8,1,.5,.5])

axs[0].imshow(ham_cloud)
axs[1].imshow(spam_cloud)

In [ ]:
# creating a bigram column that holds the bigram of the words in each observation

df['bigrams'] = [list(nltk.ngrams(wordlist, 2)) for wordlist in df.words]
df.head()

In [ ]:
# lets create a bigrams of all of the text in ham and all of the text in spam

ham_bigrams = pd.Series(list(nltk.ngrams(ham_words.split(), 2))).value_counts().head(20)
spam_bigrams = pd.Series(list(nltk.ngrams(spam_words.split(), 2))).value_counts().head(20)
spam_bigrams

In [ ]:
# lets plot these bigrams 

plt.subplot(121)
ham_bigrams.plot.barh(color = 'purple', width = 0.9, figsize = (10,10), alpha = 0.8)
plt.title('20 most frequently occuring ham bigrams')
plt.ylabel('Bigram')
plt.xlabel('Frequency')

plt.subplot(122)
spam_bigrams.plot.barh(color = 'purple', width = 0.9, figsize = (10,10), alpha = 0.8)
plt.title('20 most frequently occuring spam bigrams')
plt.ylabel('Bigram')
plt.xlabel('Frequency')
plt.tight_layout()

In [ ]:
# lets explore tri-grams
ham_trigrams = pd.Series(list(nltk.ngrams(ham_words.split(), 3))).value_counts().head(20)
spam_trigrams = pd.Series(list(nltk.ngrams(spam_words.split(), 3))).value_counts().head(20)
spam_trigrams

In [ ]:
# lets plot these trigrams 

plt.subplot(121)
ham_trigrams.plot.barh(color = 'purple', width = 0.9, figsize = (10,10), alpha = 0.8)
plt.title('20 most frequently occuring ham trigrams')
plt.ylabel('trigram')
plt.xlabel('Frequency')

plt.subplot(122)
spam_trigrams.plot.barh(color = 'purple', width = 0.9, figsize = (10,10), alpha = 0.8)
plt.title('20 most frequently occuring spam trigrams')
plt.ylabel('trigram')
plt.xlabel('Frequency')
plt.tight_layout()

# 2. Explore the blog articles using the techniques discussed in the exploration lesson.

In [5]:
import acquire
import prepare
import re
import json
import pandas as pd

In [7]:
blogs_df= acquire.get_blog_articles()
blogs_df.head()

AttributeError: 'NoneType' object has no attribute 'text'

# 3. Explore the news articles using the techniques discussed in the exploration lesson. Use the category variable when exploring.

In [6]:
news_df= acquire.get_news_articles()
news_df

[{'title': "Don't eff this up: Bezos recalls warning from son for Lord of Rings' prequel",
  'content': 'Ahead of the debut of The Lord of the Rings\' prequel \'Rings of Power\' on Amazon\'s Prime Video, Jeff Bezos revealed a conversation he had with his son. He said, "My son came up to me one day, he looked me in the eyes, very sincerely, and he said: \'Dad, please don\'t eff this up\'...And he was right."',
  'category': 'business'},
 {'title': "Snap CEO confirms 20% job cuts, says 'We must reduce cost to avoid ongoing losses'",
  'content': 'In a letter to staff posted on Snap’s website, CEO Evan Spiegel has confirmed 20% job cuts at the company as the latest quarterly revenue growth of 8% was "well below" expectations. Spiegel wrote, "Unfortunately, given our current lower rate of revenue growth, it has become clear that we must reduce our cost structure to avoid incurring significant ongoing losses."',
  'category': 'business'},
 {'title': 'Price of commercial LPG cylinders cut by up to ₹100; list of rates in cities released',
  'content': 'State-owned fuel retailers on Thursday announced a reduction in the prices of commercial LPG cylinders. From today, a 19-kg commercial LPG cylinder will be cheaper by ₹91.50 in Delhi and will be available for ₹1,885 instead of the earlier ₹1,976.50. Apart from Delhi, the prices have been reduced by up to ₹100 in Kolkata, Chennai and Mumbai.',
  'category': 'business'},
 {'title': "Chairman of Russia's 2nd largest oil firm dies after fall from hospital window: Reports",
  'content': "The chairman of Russia's second-largest oil producer Lukoil died on Thursday after falling from a hospital window, as per reports. Ravil Maganov, 67, was being treated at the city's Central Clinical Hospital and died from his injuries, reported Russian media. Maganov is the second top executive at Lukoil to die under mysterious circumstances in recent months.",
  'category': 'business'},
 {'title': 'SpiceJet shares fall nearly 15% after CFO resigns amid widening losses',
  'content': 'SpiceJet shares declined nearly 15% during Thursday’s intraday trade to a one-month low after the airline reported widening of net loss to ₹789 crore in the June quarter. Notably, its CFO Sanjeev Taneja also resigned amid losses and a series of mid-air incidents. SpiceJet stock, which has fallen over 36% so far this year, was currently trading at ₹44.15.',
  'category': 'business'},
 {'title': 'August GST revenue collection jumps 28% YoY at ₹1.44 lakh crore',
  'content': 'The Goods and Services Tax (GST) revenue increased by 28% to ₹1,43,612 crore in August as against ₹1,12,020 crore in the corresponding month last year, the Finance Ministry said. GST revenue crossed the ₹1.40 lakh crore mark for the sixth consecutive month led by robust economic recovery and compliance, the ministry added. The growth till August 2022 is 33% y-o-y.\n',
  'category': 'business'},
 {'title': 'Value of UPI transactions touches all-time high of ₹10.73 lakh cr in Aug',
  'content': "Value of digital payment transactions through UPI touched an all-time high of ₹10.73 lakh crore with 657 crore transactions in August 2022, according to National Payments Corporation of India's (NPCI) latest data. UPI transaction value in July was at ₹10.63 lakh crore with 628 crore transactions. UPI transaction value crossed the ₹10-lakh-crore mark for the first time in May.",
  'category': 'business'},
 {'title': "SpiceJet makes payments in 'graded format', delays salaries for 2nd straight month",
  'content': 'SpiceJet employees have alleged a delay in their salaries for the second consecutive month. Meanwhile, the airline said that the salaries will be credited in a "graded format". In an internal communication, mentioning the delay, SpiceJet said the "previous few months have been difficult" due to a "superlative fuel price hike" and also a "historically lean period of July-September".',
  'category': 'business'},
 {'title': "Taiwan looks forward to producing 'democracy chips' with US: Prez",
  'content': 'Taiwan President Tsai Ing-wen told the governor of the US state of Arizona, Doug Ducey, that the island nation is looking forward to producing "democracy chips" with the US. Taiwan Semiconductor Manufacturing Co Ltd (TSMC) is constructing a $12 billion plant in Arizona. Ducey told Tsai that partnership with Taiwan was "the greatest" in the semiconductor industry.',
  'category': 'business'},
 {'title': 'Dennis Woodside appointed as President of Freshworks',
  'content': "Nasdaq-listed software-as-a-service (SaaS) company Freshworks has appointed Dennis Woodside as the company's President, effective from September 1. Woodside will join the company's board of directors and will report to Freshworks CEO and Founder Girish Mathrubootham. Previously, he was President of Impossible Foods, and also worked at Dropbox and Google. At Freshworks, he will lead global business operations.",
  'category': 'business'},
 {'title': 'EU mulls over capping energy prices, cutting electricity demand',
  'content': "The European Commission is looking into measures to cap energy prices and cut electricity demand, Mechthild Wörsdörfer, Deputy Director General of the European Commission's energy department said. She mentioned that European Commission chief Ursula von der Leyen will outline ideas on capping energy prices on September 14. Russia had cut gas deliveries to Europe which led to rise in prices.",
  'category': 'business'},
 {'title': 'IMF provisionally agrees to give crisis-hit Sri Lanka $2.9-bn loan',
  'content': "The International Monetary Fund (IMF) on Thursday said that it has provisionally agreed to give a loan of about $2.9 billion to Sri Lanka which is grappling with an economic crisis. IMF and Sri Lanka have entered a 48-month-long arrangement under the former's Extended Fund Facility. The agreement is subject to approval by the IMF management and its Executive Board.\n",
  'category': 'business'},
 {'title': "Moody's cuts India's growth forecast to 7.7% from 8.8% for 2022",
  'content': "Global credit rating agency Moody's Investors Service cut India's economic growth projection to 7.7% for 2022 from its May projection of 8.8%. It said that the economic momentum will slow down on a sequential basis owing to rising interest rates, uneven monsoon and slowing global growth. However, the rating agency said the services and manufacturing sectors have seen robust upswings.",
  'category': 'business'},
 {'title': "SpiceJet CFO resigns after airline's Q1 net loss widens to ₹789 cr",
  'content': "SpiceJet's Chief Financial Officer (CFO) Sanjeev Taneja resigned from his post amid the airline reporting a widening of net loss to ₹789 crore during the April-June quarter, on Wednesday. The loss in the corresponding period last fiscal was ₹729 crore. SpiceJet said that its Board has identified a candidate for Taneja's replacement and the vacancy would be filled in September.\n",
  'category': 'business'},
 {'title': 'Yen drops to 24-year low to 139.59/dollar as Treasury yields rise',
  'content': 'The yen fell to its lowest to 139.59 per dollar in Thursday’s trading recording a 24-year low as US Treasury yields surged through 3.2% owing to the Federal Reserve’s hawkish stance at the Jackson Hole symposium. During the 1998 Asian financial crisis, the yen had reached around 146 to the dollar. Japan had previously intervened at levels around 130.',
  'category': 'business'},
 {'title': 'Centre hikes windfall profit tax on export of diesel, ATF',
  'content': 'The government has increased the windfall profit tax on the export of diesel to ₹13.5 per litre from ₹7, while that on aviation turbine fuel exports to ₹9 per litre from ₹2. The tax on domestically-produced crude oil has also been hiked by ₹300 per tonne to ₹13,300. The prices come into effect from Thursday, a Finance Ministry notification said.',
  'category': 'business'},
 {'title': 'Lufthansa to cancel almost all flights on Friday from 2 German cities amid strike',
  'content': 'German airline Lufthansa has said that it will cancel almost all passenger and cargo flights on Friday from Frankfurt and Munich amid a wage dispute. The pilots\' union Vereinigung Cockpit demanded 5.5% pay raise this year for more than 5,000 pilots. However, the union\'s spokesperson said, "We have not received a sufficient offer...this is sobering and a missed opportunity."',
  'category': 'business'},
 {'title': 'Markets end in red with Sensex falling 770 points, Nifty at 17,542',
  'content': 'The benchmark indices ended in the red on Thursday with Sensex falling 770.48 points to 58,766.59. Nifty ended 216.5 points lower at 17,542.80 dragged by IT, metal, power and oil and gas stocks. Hindalco Industries, Reliance Industries, ONGC and TCS were among the top Nifty losers, while stocks of Tata Consumer Products, Bajaj Finserv, Asian Paints and Eicher Motors gained.\n',
  'category': 'business'},
 {'title': 'NPCI in talks to acquire 10% stake in ONDC: Reports',
  'content': "The National Payments Corporation of India (NPCI) is reportedly in talks to acquire a 10% stake in Open Network for Digital Commerce (ONDC), India's open source platform for e-commerce. Reportedly, the Bank of India is also looking to acquire a 5-7% stake in the company. ONDC currently has 17 stakeholders and is aiming to have 20. ",
  'category': 'business'},
 {'title': 'Sensex falls 700 points, Nifty at 17,558 in opening trade',
  'content': 'Benchmark indices opened in the red on Thursday with Sensex falling 707.39 points at 58,829.68 and Nifty down 200.80 points at 17,558.50. Infosys, SBI Life Insurance, TCS, Hindalco Industries, ONGC were among the major Nifty losers, while the shares of Bharti Airtel, Bajaj Auto, IndusInd Bank, Bajaj Finserv and UltraTech Cement gained. Nearly 1,101 shares advanced and 1,052 shares declined.',
  'category': 'business'},
 {'title': 'Unemployment rate fell to 7.6% during Apr-June in urban areas: NSO',
  'content': 'The unemployment rate for people in the age group of 15 years and above in urban areas dropped to 7.6% during April-June 2022 from 12.6% in the corresponding period last year, the National Statistical Office (NSO) said. This was led by an improved labour force participation ratio, pointing towards a sustained economic recovery after the COVID-19 pandemic.\n',
  'category': 'business'},
 {'title': 'Share prices of fuel exporters fall after windfall profit tax hike',
  'content': 'After the Centre increased the windfall profit tax on the export of diesel and aviation turbine fuel, the shares of Indian fuel exporters dropped up to 3% in the morning trade on Thursday. ONGC declined by 2.2%, Reliance Industries Limited fell by 1.5%, Chennai Petroleum Corporation Limited by 3.3%, Mangalore Refinery & Petrochemicals by 1.5% and Oil India dropped 0.5%.\n',
  'category': 'business'},
 {'title': 'April-July fiscal deficit at ₹3.40 lakh crore, 20.5% of FY23 target',
  'content': "The Centre's fiscal deficit was 20.5% of the annual target in July end as against 21.3% in the year-ago period, the Controller General of Accounts data showed. The fiscal deficit was ₹3.40 lakh crore during the April-July period in actual terms. For the full FY23, the fiscal deficit is pegged at ₹16.6 lakh crore or 6.4% of the GDP.",
  'category': 'business'},
 {'title': 'India beat Hong Kong to reach Asia Cup Super 4 as Suryakumar breaks multiple records',
  'content': 'India beat Hong Kong by 40 runs to qualify for Super 4 stage of Asia Cup 2022. Suryakumar Yadav slammed 68*(26), the highest score by a batter in the ongoing tournament. He also recorded most sixes by an Indian (six) in a T20 Asia Cup match and most runs by an Indian (26) in 20th over of a T20I match.',
  'category': 'sports'},
 {'title': 'Suryakumar Yadav smashes most sixes ever by an Indian in a T20 Asia Cup match',
  'content': "Suryakumar Yadav on Wednesday broke the record for smashing the most number of sixes by a Team India batter in a men's T20 Asia Cup match. Suryakumar slammed six sixes against Hong Kong on Wednesday. No other Indian batter has slammed more than three sixes in a men's T20 Asia Cup match. Suryakumar scored 68*(26) against Hong Kong.",
  'category': 'sports'},
 {'title': 'Hong Kong cricketer Kinchit proposes to his girlfriend in stadium after India match',
  'content': "Hong Kong batter Kinchit Shah proposed to his girlfriend in the stadium after his team's Asia Cup 2022 match against India in Dubai on Wednesday. A video went viral showing Kinchit going down on one knee and offering the ring to his girlfriend, who accepted his proposal. Fans and his teammates were seen cheering for him during the proposal.",
  'category': 'sports'},
 {'title': "Simply can't fathom this approach: Venkatesh Prasad on KL Rahul's 36(39) vs Hong Kong",
  'content': 'Reacting to KL Rahul\'s 39-ball 36-run knock against Hong Kong, former India fast bowler Venkatesh Prasad tweeted, "Is there something in the pitch that is not visible?" He added, "Simply can\'t fathom this approach especially from KL Rahul." India scored 70 runs in their first 10 overs against Hong Kong, but went on to put up a total of 192/2.',
  'category': 'sports'},
 {'title': 'Australia announce their squad for T20 World Cup 2022',
  'content': "Defending champions Australia have announced their squad for T20 World Cup 2022. Batter Tim David has been included in the 15-member squad. His selection over leg-spinner Mitchell Swepson is the only change from the group that won the T20 World Cup 2021 in the UAE. Australia's T20 World Cup 2022 campaign will begin against New Zealand on October 22.",
  'category': 'sports'},
 {'title': 'Virat Kohli bowls in T20I cricket after 6 years, concedes 6 runs in an over',
  'content': 'Former Team India captain Virat Kohli on Wednesday bowled an over against Hong Kong in their Asia Cup 2022 match. It is the first time since 2016 that Kohli bowled in a T20I match. He gave away six runs in his over. Kohli has bowled 25.2 overs in T20I cricket, taking four wickets for 204 runs.',
  'category': 'sports'},
 {'title': "Are you saying Rahul should be dropped: Suryakumar to journalist asking if he'd open",
  'content': 'After a journalist asked Suryakumar Yadav if he\'d open with Rohit Sharma at some point in Asia Cup, Suryakumar Yadav jokingly replied, "Are you saying...KL Rahul should be dropped?" He added, "I\'m really flexible to bat at any number. I\'ve told coach and captain that they can play me at any number but I want to be in the team."',
  'category': 'sports'},
 {'title': 'Hong Kong gift jersey with handwritten message to Virat Kohli, he shares pic',
  'content': 'Hong Kong gifted a jersey with a handwritten message on it to Virat Kohli following their Asia Cup match against India. Kohli took to his Instagram Stories to share a picture of the jersey. "Virat...Thank you for inspiring a generation. We stand with you! There are many incredible days ahead. With strength, with love, Team Hong Kong," the message read.',
  'category': 'sports'},
 {'title': "I was wondering why he wasn't leaving the field: Suryakumar on Virat Kohli's gesture",
  'content': 'On being asked about Virat Kohli bowing down to him and asking him to walk out of the field first after his knock of 68*(26) against Hong Kong, Suryakumar Yadav said, "It was a heartwarming gesture." He added, "I\'ve never seen something like this. I was wondering why he wasn\'t leaving the field. I loved batting with him."',
  'category': 'sports'},
 {'title': "How do the Asia Cup 2022 points tables read after India's victory against Hong Kong?",
  'content': "With their 40-run victory against Hong Kong in Asia Cup 2022, India confirmed a first-place finish in Group A and advanced to Super 4. Pakistan and Hong Kong, who'll face each other on Friday, are placed second and third, respectively. Meanwhile, Afghanistan are on top of Group B points table, with Bangladesh and Sri Lanka being second and third, respectively. ",
  'category': 'sports'},
 {'title': "Rahul's 36, Kohli's fifty, Jadeja's bowling, all positives from India vs HK: Irfan",
  'content': 'Ex-India cricketer Irfan Pathan has said KL Rahul\'s 36-run innings, Virat Kohli\'s half-century, Suryakumar Yadav\'s batting and Ravindra Jadeja\'s bowling were some of the positives from India\'s Asia Cup match against Hong Kong. "Kohli\'s half-century is the biggest positive because of the way he batted...You see the score but we here see how he played...he [was] in control," added Irfan. ',
  'category': 'sports'},
 {'title': 'World no. 1 Medvedev moves into US Open 3rd round with straight-sets win',
  'content': 'Defending champion and world number one Daniil Medvedev entered the third round of the ongoing US Open 2022 after defeating Frenchman Arthur Rinderknech in straight sets. Medvedev won with a scoreline of 6-2, 7-5, 6-3 in two hours and 11 minutes. "In general, I\'m happy with my level in the third set, so that\'s great," said Medvedev after the match.',
  'category': 'sports'},
 {'title': "If you get hit by HK, it won't let you sleep: Reetinder on Avesh, Arshdeep",
  'content': 'Discussing the performance of Team India pacers Avesh Khan and Arshdeep Singh against Hong Kong, ex-India all-rounder Reetinder Singh Sodhi said, "If you get hit by Hong Kong, then it won\'t let you sleep that night." "Arshdeep was missing the radar and Avesh was expensive," added Reetinder. Arshdeep conceded 44 runs against Hong Kong with Avesh giving away 53 runs.',
  'category': 'sports'},
 {'title': "Expecting too much too soon will create problems: Karim on Rahul, Virat's batting",
  'content': 'Referring to KL Rahul and Virat Kohli\'s innings against Hong Kong, former India cricketer Saba Karim has said India could\'ve scored 15-20 more runs in the match but the team needs to "nurture" the experienced players once they come back after a break. "If you expect too much too soon, it will create problems for your own team," added Karim',
  'category': 'sports'},
 {'title': "KL Rahul probably has 'more ability' than Rohit Sharma: Gautam Gambhir",
  'content': 'Discussing Team India opener KL Rahul\'s 36 off 39 balls in the Asia Cup match against Hong Kong, Gautam Gambhir said, "Rahul has so much ability...Only he can stop himself if he doesn\'t play freely." "I won\'t hesitate to say that...he probably has more ability than Rohit Sharma...He\'s shown that by doing it in international cricket," added Gambhir.',
  'category': 'sports'},
 {'title': 'This is what I do best: Serena Williams after defeating world no. 2 in US Open ',
  'content': 'During her on-court interview after defeating world number two Anett Kontaveit in her US Open second-round match, Serena Williams said, "This is what I do best." She added, "I\'m just Serena...I\'m super competitive...I\'m just looking at it as a bonus." The twenty three-time singles\' Grand Slam champion had earlier stated she\'ll be "evolving away" from tennis following the US Open. ',
  'category': 'sports'},
 {'title': 'Serena beats world no.2 Anett Kontaveit, enters 3rd round of US Open',
  'content': 'Discussing her 7-6(4), 2-6, 6-2 win against second seed Anett Kontaveit to enter US Open\'s third round, Serena Williams said, "After losing the second set, I thought \'Oh, my goodness\'." "I had to give my best...because \'this could be it\'," Serena added. "I don\'t have anything to lose. I\'ve had an X on my back since 1999," she stated.',
  'category': 'sports'},
 {'title': "Dasun said we have 2 world-class bowlers, I don't see any in SL: B'desh Team Director",
  'content': 'Bangladesh Team Director Khaled Mahmud has reacted to Sri Lanka captain Dasun Shanaka\'s remark that Bangladesh have "only two world-class bowlers" in their team. Khaled said, "I don\'t see any in Sri Lanka, at least Bangladesh have two. That\'s very good." Dasun made the remark after losing against Afghanistan, claiming that Bangladesh would be an "easier opponent" in Asia Cup.',

In [8]:
news_df= pd.DataFrame(news_df)
news_df.head()

,title,content,category
0,Don't eff this up: Bezos recalls warning from ...,Ahead of the debut of The Lord of the Rings' p...,business
1,"Snap CEO confirms 20% job cuts, says 'We must ...","In a letter to staff posted on Snap’s website,...",business
2,Price of commercial LPG cylinders cut by up to...,State-owned fuel retailers on Thursday announc...,business
3,Chairman of Russia's 2nd largest oil firm dies...,The chairman of Russia's second-largest oil pr...,business
4,SpiceJet shares fall nearly 15% after CFO resi...,SpiceJet shares declined nearly 15% during Thu...,business

In [9]:
news_df= prepare.prepare_data(news_df,'content')

In [10]:
news_df.head()

,title,content,category,clean,stemmed,lemmatized
0,Don't eff this up: Bezos recalls warning from ...,Ahead of the debut of The Lord of the Rings' p...,business,ahead debut lord rings prequel rings power ama...,ahead debut lord ring prequel ring power amazo...,ahead debut lord ring prequel ring power amazo...
1,"Snap CEO confirms 20% job cuts, says 'We must ...","In a letter to staff posted on Snap’s website,...",business,letter staff posted snaps website ceo evan spi...,letter staff post snap websit ceo evan spiegel...,letter staff posted snap website ceo evan spie...
2,Price of commercial LPG cylinders cut by up to...,State-owned fuel retailers on Thursday announc...,business,stateowned fuel retailers thursday announced r...,stateown fuel retail thursday announc reduct p...,stateowned fuel retailer thursday announced re...
3,Chairman of Russia's 2nd largest oil firm dies...,The chairman of Russia's second-largest oil pr...,business,chairman russias secondlargest oil producer lu...,chairman russia secondlargest oil produc lukoi...,chairman russia secondlargest oil producer luk...
4,SpiceJet shares fall nearly 15% after CFO resi...,SpiceJet shares declined nearly 15% during Thu...,business,spicejet shares declined nearly 15 thursdays i...,spicejet share declin nearli 15 thursday intra...,spicejet share declined nearly 15 thursday int...

In [11]:
# lets remove unnecessary characters from the lemmatized and then split it to get the list of the list of words

words = [re.sub(r'([^a-z0-9\s]|\s.\s)','',doc).split() for doc in news_df.lemmatized]

In [12]:
news_df = pd.concat([news_df, pd.DataFrame({'words':words})], axis = 1)

In [13]:
news_df

,title,content,category,clean,stemmed,lemmatized,words
0,Don't eff this up: Bezos recalls warning from ...,Ahead of the debut of The Lord of the Rings' p...,business,ahead debut lord rings prequel rings power ama...,ahead debut lord ring prequel ring power amazo...,ahead debut lord ring prequel ring power amazo...,"[ahead, debut, lord, ring, prequel, ring, powe..."
1,"Snap CEO confirms 20% job cuts, says 'We must ...","In a letter to staff posted on Snap’s website,...",business,letter staff posted snaps website ceo evan spi...,letter staff post snap websit ceo evan spiegel...,letter staff posted snap website ceo evan spie...,"[letter, staff, posted, snap, website, ceo, ev..."
2,Price of commercial LPG cylinders cut by up to...,State-owned fuel retailers on Thursday announc...,business,stateowned fuel retailers thursday announced r...,stateown fuel retail thursday announc reduct p...,stateowned fuel retailer thursday announced re...,"[stateowned, fuel, retailer, thursday, announc..."
3,Chairman of Russia's 2nd largest oil firm dies...,The chairman of Russia's second-largest oil pr...,business,chairman russias secondlargest oil producer lu...,chairman russia secondlargest oil produc lukoi...,chairman russia secondlargest oil producer luk...,"[chairman, russia, secondlargest, oil, produce..."
4,SpiceJet shares fall nearly 15% after CFO resi...,SpiceJet shares declined nearly 15% during Thu...,business,spicejet shares declined nearly 15 thursdays i...,spicejet share declin nearli 15 thursday intra...,spicejet share declined nearly 15 thursday int...,"[spicejet, share, declined, nearly, 15, thursd..."
...,...,...,...,...,...,...,...
92,"Amitabh Bachchan tests negative for COVID-19, ...",Amitabh Bachchan said he has tested negative f...,entertainment,amitabh bachchan said tested negative covid19 ...,amitabh bachchan said test neg covid19 back wo...,amitabh bachchan said tested negative covid19 ...,"[amitabh, bachchan, said, tested, negative, co..."
93,"'The Kapil...' is my show as well, I'll be bac...",Actor-comedian Krushna Abhishek has said that ...,entertainment,actorcomedian krushna abhishek said kapil shar...,actorcomedian krushna abhishek said kapil shar...,actorcomedian krushna abhishek said kapil shar...,"[actorcomedian, krushna, abhishek, said, kapil..."
94,Wanted my debut to be role which makes differe...,"Actress Sargun Mehta, who will be making her B...",entertainment,actress sargun mehta making bollywood debut cu...,actress sargun mehta make bollywood debut cutt...,actress sargun mehta making bollywood debut cu...,"[actress, sargun, mehta, making, bollywood, de..."
95,Salman Khan's 'Bigg Boss 16' to premiere in Oc...,'Bigg Boss 16' makers have reportedly locked t...,entertainment,bigg boss 16 makers reportedly locked premiere...,bigg boss 16 maker reportedli lock premier dat...,bigg bos 16 maker reportedly locked premiere d...,"[bigg, bos, 16, maker, reportedly, locked, pre..."
96,Would like to work with Vijay in Ajay Gnanamut...,Tamil actor Chiyaan Vikram has shared that he ...,entertainment,tamil actor chiyaan vikram shared would like w...,tamil actor chiyaan vikram share would like wo...,tamil actor chiyaan vikram shared would like w...,"[tamil, actor, chiyaan, vikram, shared, would,..."

In [15]:
# lets join all of the words by category together

business_words = ' '.join(news_df[news_df.title == 'business'].lemmatized)
sports_words = ' '.join(news_df[news_df.title == 'sports'].lemmatized)
technology_words = ' '.join(news_df[news_df.title == 'technology'].lemmatized)
entertainment_words = ' '.join(news_df[news_df.title == 'entertainment'].lemmatized)
all_words = ' '.join(news_df.lemmatized)

In [19]:
# lets split all of the words in each category and convert it to pandas series and get a value count

business_freq = pd.Series(business_words.split()).value_counts()
sports_freq = pd.Series(sports_words.split()).value_counts()
technology_freq = pd.Series(technology_words.split()).value_counts()
entertainment_freq = pd.Series(entertainment_words.split()).value_counts()
all_freq = pd.Series(all_words.split()).value_counts()

/var/folders/h9/174nr99d0zl_7cgtzqpv_gzw144wkq/T/ipykernel_73003/3752690884.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  business_freq = pd.Series(business_words.split()).value_counts()
/var/folders/h9/174nr99d0zl_7cgtzqpv_gzw144wkq/T/ipykernel_73003/3752690884.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sports_freq = pd.Series(sports_words.split()).value_counts()
/var/folders/h9/174nr99d0zl_7cgtzqpv_gzw144wkq/T/ipykernel_73003/3752690884.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  technology_freq = pd.Series(technology_words.split()).value_counts()
/var/folders/h9/174nr99d0zl_7cgtzqpv_gzw144wkq/T/ipykernel_73003/3752690884.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  entertainment_freq = pd.Series(entertainment_words.split()).value_counts()

In [20]:
# lets create a dataframe that holds the word counts for each category 

words_count = (pd.concat([all_freq, business_freq, sports_freq, technology_freq, entertainment_freq], axis = 1,sort = True)\
.set_axis(['all', 'business', 'sports', 'technology', 'entertainment'], axis = 1)\
.fillna(0)
.apply(lambda s:s.astype(int))
)

In [21]:
words_count.head()

      all  business  sports  technology  entertainment
05      1         0       0           0              0
1       3         0       0           0              0
10      2         0       0           0              0
100     4         0       0           0              0
1052    1         0       0           0              0

In [23]:
words_count.sort_values('all').head(10)

               all  business  sports  technology  entertainment
05               1         0       0           0              0
meet             1         0       0           0              0
mechthild        1         0       0           0              0
measure          1         0       0           0              0
mathrubootham    1         0       0           0              0
matchmaking      1         0       0           0              0
marriage         1         0       0           0              0
markand          1         0       0           0              0
mehta            1         0       0           0              0
mangalore        1         0       0           0              0